{% extends "WinkMurderGameBundle:Layout:base.html.twig" %}

{% block pageTitle %}You{% endblock %}

{% block body %}
    <div>You are {{ player.name }}</div>
    <div><img src="{{ player.photo.url }}" alt="{{ player.photo.title }}" /></div>
    <div>Your manner of death is {{ player.mannerOfDeath.name }}.</div>
{% endblock %}