{% extends "WinkMurderGameBundle:Common:Layout/_game.html.twig" %}

{% block pageTitle %}{{ 'account.login.pageTitle' | trans }}{% endblock %}

{% block content %}
    <h1>{{ 'account.login.heading' | trans }}</h1>
    <div>
        {% if game.unusedPhotos %}
            <ul class="player-list">
            {% for photo in game.unusedPhotos %}
                <li class="player"><a href="{{ path('winkmurder_game_account_logincheck', {id: photo.id}) }}" data-ajax="false">
                    <div class="player-wrapper">
                        {% include "WinkMurderGameBundle:Common:Photo/_teaser.html.twig" %}
                    </div>
                </a></li>
            {% endfor %}
            </ul>
        {% else %}
            {{ 'account.login.noPlayersLeft' | trans }}
        {% endif %}
    </div>
{% endblock %}
