{% extends "WinkMurderGameBundle:Layout:_game.html.twig" %}

{% block pageTitle %}{{ 'start.index.pageTitle' | trans }}{% endblock %}

{% block content %}
    <h1>{{ 'start.index.heading' | trans }}</h1>
    <p class="leadin type-medium mrgn-btm-24"><em>{{ 'start.index.leadin' | trans }}</em></p>
    <div>{{ 'start.index.text' | trans | raw }}</div>
{% endblock %}
