{% extends "WinkMurderGameBundle:Layout:base.html.twig" %}

{% block pageTitle %}{{ 'rules.show.pageTitle' | trans }}{% endblock %}

{% block body %}
    <h2>{{ 'rules.show.heading' | trans }}</h2>
    <p>{{ 'rules.show.rules' | trans | nl2br }}</p>
{% endblock %}