{% extends "WinkMurderGameBundle:Layout:_game.html.twig" %}

{% block pageTitle %}{{ 'rules.show.pageTitle' | trans }}{% endblock %}

{% block content %}
    <h1 class="highlighted">{{ 'rules.show.heading' | trans }}</h1>
    <div>{{ 'rules.show.rules' | trans | raw }}</div>
{% endblock %}