<div class="centered mrgn-btm-24">
    <p data-end-of-preliminary-proceedings="{{ game.endOfPreliminaryProceedings.format('U') }}" class="fx-end-of-preliminary-proceedings mrgn-btm-6">
        <span>{{ 'common.murder.endOfPreliminaryProceedings.leading' | trans({'%end%': game.endOfPreliminaryProceedings.format('d.m.Y H:i:s')}) }}</span>
    </p>
    <script type="text/javascript">//<![CDATA[
        setupTimer();
    //]]></script>
</div>