{% if game.mostPopularDeath %}
    <div class="centered">
        <p class="mrgn-btm-6">{{ 'game.status.mostPopularDeath' | trans }}</p>
        <p class="jollylodger type-big block">{{ game.mostPopularDeath.victim.name }}</p>
    </div>
{% endif %}