{% extends "WinkMurderGameBundle:Layout:_game.html.twig" %}

{% block content %}
    <div class="centered">
        <p>{{ 'game.commitMurder.question' | trans({'%name%': victim.name}) }}</p>
        <form action="{{ path('winkmurder_game_game_confirmcommitmurder', {'id': victim.id}) }}" method="post" data-ajax="false">
            <div><input type="submit" value="{{ 'game.commitMurder.submit' | trans }}" /></div>
            <div><a href="#" data-rel="back" data-role="button">{{ 'game.commitMurder.cancel' | trans }}</a></div>
        </form>
    </div>
{% endblock %}