{% extends "WinkMurderGameBundle:Layout:_game.html.twig" %}

{% block pageTitle %}{{ 'game.status.noMurderYet.pageTitle' | trans }}{% endblock %}

{% block content %}
    <div class="centered">
        <h1>{{ 'game.status.noMurderYet.heading' | trans }}</h1>
        <p>{{ 'game.status.noMurderYet.text' | trans }}</p>
    </div>
{% endblock %}