{% extends "WinkMurderGameBundle:Game:_status.html.twig" %}

{% block pageTitle %}{{ 'game.status.proceedingsOngoing.pageTitle' | trans }}{% endblock %}

{% block content %}
    {% include "WinkMurderGameBundle:Murder:_latestMurderTeaser.html.twig" %}
    {% include "WinkMurderGameBundle:Murder:_endOfPreliminaryProceedings.html.twig" %}
    {% if app.user.canSuspect %}
        <p><a href="{{ path('winkmurder_game_investigations_index') }}">{{ 'game.status.proceedingsOngoing.suspicionLink' | trans }}</a></p>
    {% endif %}
{% endblock %}