/* Custom navbar typography and layout */
.ui-footer .ui-navbar .ui-btn-text {
    @extend .type-medium;
    @extend .jollylodger;
    font-weight: normal;
}
.ui-navbar li .ui-btn .ui-btn-inner { padding-top: 27px; padding-bottom: 5px; }
.ui-navbar li .lang-switch .ui-btn-inner { padding-top: 3px; padding-bottom: 3px; }

.ui-navbar .lang-switch { float: right; }

/* Custom navbar icons via glyphish.com */
.ui-icon-jack-o-lantern { background-image: url("../img/jackolantern.png"); }
.ui-icon-idcard { background-image: url("../img/123-id-card.png"); }
.ui-icon-group { background-image: url("../img/112-group.png"); }
.ui-icon-rules { background-image: url("../img/92-test-tube.png"); }

/* Custom navbar actvive state */
.ui-btn-active {
    @extend .active-gradient;
    border-color: $darkOrange;
}