.player-list {
    list-style-type: none;
}

.player {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid $darkGrey;
}

.player a {
    float: left;
    width: 100%;

    &:active,
    &:focus {
        @extend .active-gradient;
    }
}

.player-wrapper {
    float: left;
    width: 97%;
    background: url(../img/glyphicons_217_circle_arrow_right.png) no-repeat right center;
}

.players-player-wrapper {
    padding-right: 45px;
}

.player-name {
    padding-top: 11px;
    @extend .type-medium;
}

.player-thumb {
    float: left;
    margin-right: 10px;
}

.player-dead {
    background-color: #eee;
    background: url(../img/22-skull-n-bones.png) no-repeat 95% center;
}

.player-dead .player-thumb {
    border: 5px solid #000;
    width: 40px;
}

.player-dead .player-name {
    padding-top: 5px;
}

.player-dead p {
    margin-bottom: 0;
}