.player-list {
    list-style-type: none;
}

.player {
    @extend .clearfix;
    margin-bottom: 10px;
    border: 1px solid $darkGrey;
}

.player a {
    @extend .clearfix;

    &:active,
    &:focus {
        @extend .active-gradient;
        color: #fff;
    }
}

.player-wrapper {
    @extend .clearfix;
    background: url(../img/glyphicons_217_circle_arrow_right.png) no-repeat right center;
}

.player-name {
    padding-top: 11px;
    @extend .type-medium;
}

.player-thumb {
    float: left;
    margin-right: 10px;
}

.dead-player-wrapper {
    border: 2px solid #000;
    @extend .clearfix;
}

.player-dead .player-name {
    padding-top: 5px;
}

.player-dead .player-name:after {
    content: ' \2020';
}

.player-dead p {
    margin-bottom: 0;
    font-style: italic;
    @extend .type-small;
}