.user-profile {
    @extend .centered;
}

.salutation {
    @extend .type-medium;
    @extend .imfellsc;
    margin-bottom: 20px;
}

.profile-thumb {
    border-radius: 30px;
    margin-bottom: 5px;
}

.manner-of-death {
    margin-bottom: 36px;
}

.profile-lang-switch a {
    color: #fff;
    background: #000;
    padding: 4px 8px 3px;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
}

.profile-lang-switch a:active {
    background: #f89406;
    color: #000;
}