.user-profile {
    text-align: center;
}

.profile-thumb {
    border-radius: 25px;
    margin-bottom: 5px;
}

.manner-of-death {
    margin-bottom: 36px;
}

.manner-of-death .h2 {
    font-size: 36px;
}