.user-profile {
    @extend .centered;
}

.salutation {
    @extend .type-medium;
    @extend .imfellsc;
    margin-bottom: 20px;
}

.profile-thumb {
    border-radius: 30px;
    margin-bottom: 5px;
}

.manner-of-death {
    margin-bottom: 36px;
}