
body, form, input, label {
    font-family: 'IM Fell English', Garamond, Cambria, Georgia, sans-serif;
    @extend .type-default;
}

* { margin: 0; padding: 0; }
img { line-height: 1; }

.imfell { font-family: 'IM Fell English', Garamond, Cambria, Georgia, sans-serif; }
.imfellsc { font-family: 'IM Fell English SC', Garamond, Cambria, Georgia, sans-serif; }
.jollylodger { font-family: 'Jolly Lodger', Arial, sans-serif; }

.type-huge { font-size: 36px; line-height: 1.1; }
.type-big { font-size: 28px; line-height: 1.2; }
.type-medium { font-size: 20px; }
.type-default { font-size: 18px; }
.type-small { font-size: 12px; }

h1 {
    @extend .type-big;
    @extend .imfellsc;
    font-weight: normal;
    margin-bottom: 20px;
}

h2 {
    @extend .type-medium;
    margin: 4px 0;
}

h3 {
    @extend .type-default;
}

p {
    @extend .mrgn-btm-24;
}

a {
    text-decoration: none;
    color: #222;
}

.inline { display: inline-block; }
.centered { text-align: center; }
.mrgn-top-6 { margin-top: 6px; }
.mrgn-top-12 { margin-top: 12px; }
.mrgn-top-24 { margin-top: 24px; }
.mrgn-btm-6 { margin-bottom: 6px; }
.mrgn-btm-12 { margin-bottom: 12px; }
.mrgn-btm-24 { margin-bottom: 24px; }
.mrgn-btm-36 { margin-bottom: 36px; }
.pdng-top-6 { padding-top: 6px; }
.pdng-top-12 { padding-top: 12px; }