{% extends "WinkMurderGameBundle:Common:Layout/_administration.html.twig" %}

{% block pageTitle %}{{ 'administration.login.pageTitle' | trans }}{% endblock %}

{% block content %}
    <h2>{{ 'administration.login.heading' | trans }}</h2>
    {% include "WinkMurderGameBundle:Common:Login/_loginForm.html.twig" with {action: path('winkmurder_game_administration_logincheck')} %}
{% endblock %}
