{% if app.request.locale == 'de' %}

    <h1 class="centered">Alle Verdächtigen hatten solide Alibis. Vom Mörder keine Spur..</h1>

{% else %}

    <h1 class="centered">All suspects alibied out. The investigation has no leads at the moment.</h1>

{% endif %}