{% include "WinkMurderGameBundle:Common:Murder/_latestMurderTeaser.html.twig" with {'murder': game.latestMurderWithPreliminaryProceedingsDiscontinued} %}

{% if game.arePreliminaryProceedingsOngoing %}

    {% if app.user %}
        <p class="centered wm-button">
            <a data-role="button" data-inline="true" href="{{ path('winkmurder_game_investigations_index') }}">
                {{ 'game.status.murdererStillAtLarge.investigationsLink' | trans }}
            </a>
        </p>
    {% endif %}

{% else %}

    {% set templates = [
        "WinkMurderGameBundle:Game:status/notClearedUpReasons/_atLarge.html.twig",
        "WinkMurderGameBundle:Game:status/notClearedUpReasons/_404.html.twig"
        "WinkMurderGameBundle:Game:status/notClearedUpReasons/_alibi.html.twig"
    ] %}

    {% set which = game.latestMurder.id %} {# Für jeden Spieler je Tod ein neuer Grund #}
    {# {% set which = 0 %} {# Zum Testen: ein bestimtes #}
    {# {% set which = random(templates | length) %} {# Zum Testen: ein zufälliges #}

    {% include cycle(templates, which) %}

{% endif %}

