{% extends "WinkMurderGameBundle:Layout:base.html.twig" %}

{% block body %}
    <ul>
    {% for photo in result.photoset.photo %}
        <li>
            <img src="{{ photo.url_sq }}" alt="{{ photo.title }}" />
            <strong>{{ photo.title }}</strong>
            {{ photo | json_encode }}
        </li>
    {% endfor %}
    </ul>
{% endblock %}