<ul>
    {% for player in players %}
        <li>
            {% include "WinkMurderGameBundle:Player:_teaser.html.twig" %}
            {% block action %}{% endblock %}
        </li>
    {% endfor %}
</ul>