{% if players %}
    <ul data-role="listview" data-inset="true">
        {% for player in players %}
            <li>
                {% include "WinkMurderGameBundle:Player:_teaser.html.twig" %}
            </li>
        {% endfor %}
    </ul>
{% endif %}