{% extends "WinkMurderGameBundle:Layout:base.html.twig" %}

{% block pageTitle %}Spieler bearbeiten{% endblock %}

{% block body %}
    <form action="{{ path('winkmurder_game_player_update', {id: player.id}) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <div><input type="submit" value="Speichern" /> <a href="{{ path('winkmurder_game_player_index') }}">Abbrechen</a></div>
    </form>
{% endblock %}