{% extends "WinkMurderGameBundle:Layout:base.html.twig" %}

{% block pageTitle %}The others{% endblock %}

{% block body %}
    {% embed "WinkMurderGameBundle:Player:_list.html.twig" %}
        {% block action %}
            {% if app.user.player.mayMurder(player) %}
                <form action="{{ path('winkmurder_game_murder_commit', {id: player.id}) }}" method="post"><div><input type="submit" value="Murder" /></div></form>
            {% elseif player.dead %}
                This player is dead.
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}