{% extends "WinkMurderGameBundle:Layout:base.html.twig" %}

{% block pageTitle %}The others{% endblock %}

{% block body %}
    <ul data-role="listview" data-inset="true">
        {% for player in players %}
            <li>
                {% if app.user.player.canMurder(player) %}
                    <a href="{{ path('winkmurder_game_murder_commit', {id: player.id}) }}" data-ajax="false">
                        {% include "WinkMurderGameBundle:Player:_teaser.html.twig" %}
                    </a>
                {% else %}
                    {% include "WinkMurderGameBundle:Player:_teaser.html.twig" %}
                    {% if player.dead %}
                        <div>This player is dead.</div>
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}