{% extends "WinkMurderGameBundle:Layout:_game.html.twig" %}

{% block pageTitle %}{{ 'player.index.pageTitle' | trans }}{% endblock %}

{% block content %}
    <h1>{{ 'player.index.heading' | trans }}</h1>
    <ul class="player-list">
        {% for player in players %}
            <li class="player {% if player.dead %}player-dead{% endif %}">
                {% if app.user.player.canMurder(player) %}
                    <a href="{{ path('winkmurder_game_game_commitmurder', {id: player.id}) }}" data-ajax="false">
                        {% include "WinkMurderGameBundle:Player:_teaser.html.twig" %}
                    </a>
                {% else %}
                    {% include "WinkMurderGameBundle:Player:_teaser.html.twig" %}
                    {% if player.dead %}
                        <p class="ui-li-desc pdng-top-6">{{ 'player.index.dead' | trans({'%tod%': player.mannerOfDeath.name}) }}</p>
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}