{% set targetLocale = app.session.locale == 'de' ? 'en' : 'de' %}
<a href="{{ path('winkmurder_game_locale_set', {'locale': targetLocale}) }}" data-ajax="false" data-role="button" data-icon="gear">{{ ('language.' ~ targetLocale) | trans }}</a>