{% if app.session.locale == 'de' %}

    <h1 class="centered">Der Mörder wurde nicht gefasst und ist weiterhin auf freiem Fuß.</h1>

{% else %}

    <h1 class="centered">The case has not been solved. The murderer is still at large!</h1>

{% endif %}